.checkbox{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;

  &__sub-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5%;

    & p{
      font-weight: 600;
      font-family: "SFUI Display";
      font-size: 18px;
      margin-left: 3%;
    }
  }

  & [type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: #DEDEDE;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
  }

  & [type=checkbox]:checked{
    content: url("../img/Rectangle 27 (1).png");
    padding: 3px 2px 3px 2px;
  }
}