.product{
  background-color: #F8FAFC;
  border-radius: 20px;
  min-height: 45em;
  width: 32%;
  @include flex-center;
  flex-direction: column;

  &__top-box{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }

  &__img-box{
    @include flex-center;
    width: 50%;
    background-color: white;
    height: 15em;
    border-radius: 25px;
    overflow: hidden;
  }

  &__img-box:hover{
    box-shadow: 0 4px 3px rgba(0,0,0,0.3);
  }

  &__img-box:hover img{
    transform: rotate3d(-1,-1,-1,20deg) scale(1.3);
    transition: 0.5s;
  }

  &__price{
    font-weight: 600;
    font-family: "SFUI Display";
    font-size: 18px;
  }

  &__color-price{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;

    & select{
      color: #2C2C2C;
      font-weight: 600;
      font-family: "SFUI Display";
      width: 50%;
      height: 2em;
      border: none;
      border-radius: 30px;
      padding: 0 5%;
      font-size: 16px;
      transition: 0.5s;
      cursor: pointer;
    }

    & select:hover{
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    & select option{
      color: #2C2C2C;
      font-weight: 600;
    }
  }

  &__middle-box{
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-family: "SFUI Display";
    color: #2C2C2C;
  }

  &__middle-box h2{
    margin-top: 8%;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    font-size: 28px;
  }

  &__middle-box p{
    margin-top: 4%;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 83%;
    word-wrap: break-word;
  }


  &__compare{
    @include flex-center;
    margin-left: 5%;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: white;
    color: #003466;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;

    &-check{
      animation: check 0.7s forwards;
      color: #1db725;
    }
  }

  &__compare:hover{
    box-shadow: 0 0 12px rgba(71, 81, 215, 0.24);
  }

  &__new{
    border-radius: 30px;
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    text-transform: uppercase;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: "SFUI Display";
    border: none;
    min-width: 14%;
    min-height: 1.8em;
  }

  &__bottom-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }

  &__buy{
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    border-radius: 30px;
    width: 60%;
    border: none;
    height: 1.6em;
    font-size: 18px;
    font-family: "SFUI Display";
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 15%;
    cursor: pointer;
    transition: 0.5s;
  }

  &__buy:hover{
    box-shadow: 0 0 10px rgba(248, 188, 51, 0.8);
  }
  &__buy:focus{
    box-shadow: 0 0 10px rgba(248, 188, 51, 0.8);
    opacity: 0.6;
  }
}

.product:hover{
  box-shadow: 0 0 20px rgba(71, 81, 215, 0.3);
  transition: 0.5s;
}

@keyframes check {
  0%{
    font-size: 0;
  }
  100%{
    font-size: 15px;
  }
}