.product-counter{
  background-color: #E2E9F0;
  border-radius: 30px;
  width: 18%;
  height: 1.7em;
  @include flex-center;
  font-family: "SFUI Display";
  font-weight: 600;

  &__button{
    cursor: pointer;
    padding: 0 15%;
    border: none;
    background-color: #E2E9F0;
  }
}

.product-counter:hover{
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}