@import "reset";
@import "fonts/index";
@import "mixins";
@import "sections/products-section";
@import "components/product";
@import "components/checkboxs";
@import "components/product-counter";

.app{
  @include flex-center;
}

button:active, button:focus, select:focus{
  outline: none;
}


@media (max-width: 1200px) {
  .products-section{
    flex-direction: column;
  }

  .product{
    min-width: 75%;
    margin: 2.5% 0;
  }
}